modules = ["nodejs-20", "python-3.11", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42950814
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd cv_db_dummy && python3 -m http.server 5000 --bind 0.0.0.0"
